#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.changelog-page {
  text-align: left;
}

.changelog ul,
.changelog ol {
  margin: 0.75rem 0 1rem;
  padding-left: 1.25rem;
}

.changelog ul {
  list-style: disc;
}

.changelog ol {
  list-style: decimal;
}

.changelog li + li {
  margin-top: 0.25rem;
}
